<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="comsoftware.engine.mapper.TeamMapper">
    <select id="getTeamBaseInfo" resultType="comsoftware.engine.entity.TeamBaseInfo">
        select *
        from `TeamBaseInfo`
        where `id` = #{id};
    </select>
    
    <select id="getTeamHonorRecord" resultType="comsoftware.engine.entity.TeamHonorRecord">
        select *
        from `TeamHonorRecord`
        where `teamId` = #{id};
    </select>

    <select id="getTeamPerson" resultType="comsoftware.engine.entity.TeamRelatedPerson">
        select *
        from `TeamRelatedPerson`
        where `teamId` = #{id};
    </select>

    <select id="getTeamImgURL" resultType="String">
        select imgURL
        from `teamImgURL`
        where `teamId` = #{id};
    </select>

    <select id="getTeamByCountry" resultType="String">
        select `name`
        from `TeamBaseInfo`
        where country = #{country} and id != #{id};
    </select>

    <select id="getTeamNews" resultType="comsoftware.engine.entity.TeamNews">
        select titles, urls, img_urls
        from `TeamNews`
        where `teamId` = #{id};
    </select>

</mapper>